body {
	margin: 0;
	font-family: sans-serif;
}
h1, h3 {
	margin: 0;
}
h2 {
	text-align: center;
	margin-bottom:15px;
}
.bi, h1 {
	font-size: 2rem;
	color: #02bae8;
}
.bi:hover {
	color: red;
	transition: 1s;
}
header {
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 5px 0 #02bae8;
	display: flex;
	padding: 30px calc(50% - 500px);
	text-align: center;
}

img:not(:hover) {
	transition: 2s;
	filter: saturate(0%);
	-webkit-filter: saturate(0%);
}
img:hover {
	transition: 1s;
}

.logo-img {
	height: 50px;
}
.logo-text {
	font-family: "Comic Sans MS", sans-serif;
}

.wrapper {
	min-height: 100vh;
	/* background-color: beige; */
	max-width: 1020px;
	padding: 30px;
	margin: auto;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	align-content: flex-start;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding-bottom: 18px;
	align-items: center;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 0 15px #02bae8, 0 0 5px #0008;
	position: relative;
}
.card:hover {
	transform: scale(1.1, 1.1);
	transition: 1s linear;
	box-shadow: 0 0 5px 0 #0006, 0 0 15px 0 red;
}

.card .pic {
	height: 250px;
	width: 100%;
	background-color: #02bae8;
	background-image: url(https://oir.mobi/uploads/posts/2020-01/1579151657_20-35.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.card .default {
	background-image: url("image/default.png");
	background-size: contain;
}
.card__like {
	position: absolute;
	right: 8px;
	bottom: 6px;
	color: red;
	cursor: pointer;
}

.rating i {
	color: #fde910;
}
.btn {
	outline: none;
	border: none;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgb(11, 178, 255);
	color: #fff;
	font-size: 1.2rem;
	cursor: pointer;
	text-align: center;
}
.btn:hover {
	color: #02bae8;
	background-color: red;
}
.add {
	position: fixed;
	bottom: 25px;
	right: 20px;
	z-index: 10;
}

.modal-close {
	position: absolute;
	top: 8px;
	right: 8px;
}

.modal-block {
	background-color: rgba(62, 62, 62, 0.8);
	backdrop-filter: blur(2px);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9;
	display: none;
	justify-content: center;
	align-items: center;
}
.modal-block.active {
	display: flex;
}
.modal {
	background-color: #fff;
	padding: 16px;
	border-radius: 8px;
	width: calc(100% - 100px);
	max-width: 300px;
	max-height: calc(100% - 100px);
	overflow: auto;
	position: relative;
}

form {
	display: grid;
	margin-top: 16px;
	gap: 8px;
}

.preview {
	height: 200px;
	background-color: #FCDCEB;
	border-radius: 8px;
	background-image: url(image/default.png);
	background-position: center;
	background-size: cover;
}

input,
textarea {
	border: 2px solid #02bae8;
	padding: 6px 8px;
	border-radius: 3px;
	box-sizing: border-box;
	width: 100%;
}
textarea {
	height: 90px;
}
input[type="checkbox" i] {
	margin: 5px 10px 5px 0px;
	width: 15px;
	height: 15px;
}
label {
	cursor: pointer;
	user-select: none;
}

.saveBtn {
	border-radius: 6px;
	width: 120px;
	text-align: center;
}

.btnDelete {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
	background-color: #fffafa;
	color: #02bae8;
	font-size: 10px;
	text-align: center;
}

@media (max-width: 720px) {
	.card__like {
	font-size: 30px;
	}
}

@media (max-width: 520px) {
	.preview {
	height: 160px;
	background-repeat: no-repeat;
	}
	.card__like {
	font-size: 25px;
	}
}
footer {
	display: flex;
	padding: 30px calc(50% - 500px);
	text-align: center;
	box-shadow: 0 0 5px 0 #02bae8;
}